

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=


GOOGLE_PROJECT_ID=
GOOGLE_CLIENT_EMAIL=
# 改行は \n に置換して保存（Vercelでも同様）
GOOGLE_PRIVATE_KEY=
